<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.programmer.popularmoviesstage1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/maa"
        android:label="@string/app_name"
        android:roundIcon="@drawable/maa"
        android:supportsRtl="true"
        android:theme="@style/AppDark">
        <activity
            android:name=".MovieDetoelsStag2Activity"
            android:parentActivityName=".MainDiscoveryScreen">

        </activity>
        <activity
            android:name=".MainDiscoveryScreen"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>